<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Posted on: </p>
    <a href="https://reddit.com{{thread}}" class="btn btn-primary">Go to thread!</a>
    <a href="https://reddit.com{{link}}" class="btn btn-primary">Go to article!</a>
  </div>
</div>