<div class="entry">
  <div class="body">
    <h5 class="title">{{title}}</h5>
    <p class="text">Posted on: </p>
    <a href="https://reddit.com{{thread}}" class="btn btn-primary">Go to thread!</a>
    <a href="https://reddit.com{{link}}" class="btn btn-primary">Go to article!</a>
  </div>
</div>